@page "/error"
@layout MainLayout

<h1 class="text-danger">Error</h1>
<p class="lead">An unexpected error has occurred.</p>

<p>
   Please try again or contact the administrator if the problem persists.
</p>